/*!
**  Author: Kale Chao | FakeCityMan
**  Blog: kalechao87@github.io
**/
@import "normalize-reset", "compass/css3";

/*
 * Remove the gap between images and the bottom of their containers
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

img {
    vertical-align: middle;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
* Hide visually and from screenreaders, but maintain layout
*/

.invisible {
   visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: http://nicolasgallagher.com/micro-clearfix-hack/
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
 Author's custom styles
 ========================================================================== */
 *,
 *:after,
 *:before {
    @include box-sizing(border-box);
    -webkit-user-select:none;
    -webkit-touch-callout:none;
 }

html, body {
    overflow: hidden;
    height: 100%;
}

/* ==========================================================================
 定义变量
 ========================================================================== */
$main-bgcolor: #8f8f8f;
$main-color: #fff;
$main-red: #c50000;
$main-green: #83ac14;
$main-brown: #9c6000;

/* ==========================================================================
定义变量结束
========================================================================== */

body {
    font-family: 'Avenir Next', 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $main-bgcolor;
    color: $main-color;
    overflow: hidden;
    font: {
        size: 24px;
    }
}

.ab-element {
    position: absolute;
}

.block-img {
    display: block;
    max-width: 100%;
}

.ab-img {
    position: absolute;
}

.ab-block-img {
    display: block;
    position: absolute;
    max-width: 100%;
}

.hvcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate3d(-50%, -50%, 0));
}

.hcenter {
    position: absolute;
    left: 50%;
    @include transform(translate3d(-50%, 0, 0));
}

.vcenter {
    position: absolute;
    top: 50%;
    @include transform(translate3d(0, -50%, 0));
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include background-size(cover);
    overflow: hidden;
}

.container1043 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1043px;
    @include background-size(cover);
    overflow: hidden;
}

.scrolly-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

#loading-num {
    position: absolute;
    top: 60%;
    width: 100%;
    font: {
        size: 42px;
        weight: 100;
    }
    text: {
        align: center;
    }
    color: #fff;
    z-index: 100;
}

// common start==========================
#logo {
    top: 50%;
    left: 50%;
    $logo: '../images/logo.png';
    width: image-width($logo);
    height: image-height($logo);
    margin: {
        top: -(image-height($logo)/2);
        left: -(image-width($logo)/2);
    }
    background-image: url($logo);
}

#cloud1 {
    top: -322px;
    left: 167px;
    $cloud1: '../images/cloud1.png';
    width: image-width($cloud1);
    height: image-height($cloud1);
    background-image: url($cloud1);
}

#cloud2 {
    top: -250px;
    left: 398px;
    $cloud2: '../images/cloud2.png';
    width: image-width($cloud2);
    height: image-height($cloud2);
    background-image: url($cloud2);
}

// cover start================================
$ticket: '../images/ticket-back.png';

#ticket {
    top: 387px;
    left: 56px;
    width: image-width($ticket);
    height: image-height($ticket);
}

#ticket-back {
    width: image-width($ticket);
    height: image-height($ticket);
    background-image: url($ticket);
}

#ticket-front {
    top: 42px;
    left: 36px;
    $ticket-front: '../images/ticket-front.png';
    width: image-width($ticket-front);
    height: image-height($ticket-front);
    background-image: url($ticket-front);
}

#cover-content {
    top: 267px;
    left: 95px;
    $cover-content: '../images/cover-content.png';
    width: image-width($cover-content);
    height: image-height($cover-content);
    background-image: url($cover-content);
}

#cover-guide {
    top: 691px;
    left: 188px;
    $cover-guide: '../images/cover-guide.png';
    width: image-width($cover-guide);
    height: image-height($cover-guide);
    background-image: url($cover-guide);
}

#logo {
    display: none;
}
