/*!
**  Author: Kale Chao | FakeCityMan
**  Blog: kalechao87@github.io
**/
@import "normalize-reset", "compass/css3";

/*
 * Remove the gap between images and the bottom of their containers
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

img {
    vertical-align: middle;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
* Hide visually and from screenreaders, but maintain layout
*/

.invisible {
   visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: http://nicolasgallagher.com/micro-clearfix-hack/
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
 Author's custom styles
 ========================================================================== */
 *,
 *:after,
 *:before {
    @include box-sizing(border-box);
    -webkit-user-select:none;
    -webkit-touch-callout:none;
 }

html, body {
    overflow: hidden;
    height: 100%;
}

/* ==========================================================================
 定义变量
 ========================================================================== */
$main-bgcolor: #8f8f8f;
// $main-bgcolor: #5d5f77;
$main-color: #fff;
$main-red: #c50000;
$main-green: #83ac14;
$main-brown: #9c6000;

/* ==========================================================================
定义变量结束
========================================================================== */

body {
    font-family: 'Avenir Next', 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $main-bgcolor;
    color: $main-color;
    overflow: hidden;
    font: {
        size: 24px;
    }
}

.ab-element {
    position: absolute;
}

.block-img {
    display: block;
    max-width: 100%;
}

.ab-img {
    position: absolute;
}

.ab-block-img {
    display: block;
    position: absolute;
    max-width: 100%;
}

.hvcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate3d(-50%, -50%, 0));
}

.hcenter {
    position: absolute;
    left: 50%;
    @include transform(translate3d(-50%, 0, 0));
}

.vcenter {
    position: absolute;
    top: 50%;
    @include transform(translate3d(0, -50%, 0));
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include background-size(cover);
    overflow: hidden;
}

.container1043 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1043px;
    @include background-size(cover);
    overflow: hidden;
}

.scrolly-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

#loading-num {
    position: absolute;
    top: 60%;
    width: 100%;
    font: {
        size: 42px;
        weight: 100;
    }
    text: {
        align: center;
    }
    color: #fff;
    z-index: 10;
}

// music=======================================================================
#music-control {
    position: absolute;
    top: 0;
    right: 0;

    width: 58px;
    height: 58px;
    margin: 24px;
}

#music-control-main {
    position: absolute;
    $music-bg: '../images/music-bg.png';
    width: image-width($music-bg);
    height: image-height($music-bg);
    // background-image: url($music-bg);
}

.music-control-icon {
    position: absolute;
    $music-icon: '../images/music-icon.png';
    width: image-width($music-icon);
    height: image-height($music-icon);
    // background-image: url($music-icon);
    top: 50%;
    left: 50%;
    @include transform(translate3d(-50%, -50%, 0));
}

// common start==========================
#logo {
    top: 50%;
    left: 50%;
    $logo: '../images/logo.png';
    width: image-width($logo);
    height: image-height($logo);
    margin: {
        top: -(image-height($logo)/2);
        left: -(image-width($logo)/2);
    }
    background-image: url($logo);
    z-index: 10;
}

#cloud1 {
    top: -322px;
    left: 167px;
    $cloud1: '../images/cloud1.png';
    width: image-width($cloud1);
    height: image-height($cloud1);
    // background-image: url($cloud1);
}

#cloud11 {
    top: -322px;
    left: -146px;
    $cloud1: '../images/cloud1.png';
    width: image-width($cloud1);
    height: image-height($cloud1);
    // background-image: url($cloud1);
}

#cloud2 {
    top: -250px;
    left: 398px;
    $cloud2: '../images/cloud2.png';
    width: image-width($cloud2);
    height: image-height($cloud2);
    // background-image: url($cloud2);
}

#cloud21 {
    top: -250px;
    left: -194px;
    $cloud2: '../images/cloud2.png';
    width: image-width($cloud2);
    height: image-height($cloud2);
    // background-image: url($cloud2);
}



.cloudl {
    $cloudl: '../images/cloud3.png';
    width: image-width($cloudl);
    height: image-height($cloudl);
    // background-image: url($cloudl);
}

.clouds {
    $clouds: '../images/cloud4.png';
    width: image-width($clouds);
    height: image-height($clouds);
    // background-image: url($clouds);
}

#cloud3 {
    top: 26px;
    // left: 394px;
    left: -172px;
}

#cloud4 {
    top: 255px;
    // left: -18px;
    left: -172px;
}

#cloud5 {
    top: 309px;
    // left: 498px;
    left: -146px;
}

// cover start================================
$ticket: '../images/ticket-back.png';

#ticket {
    top: 387px;
    left: 56px;
    width: image-width($ticket);
    height: image-height($ticket);
}

#ticket-back {
    width: image-width($ticket);
    height: image-height($ticket);
    // background-image: url($ticket);
}

#ticket-front {
    top: 36px;
    left: 36px;
    $ticket-front: '../images/ticket-front.png';
    width: image-width($ticket-front);
    height: image-height($ticket-front);
    // background-image: url($ticket-front);
}

#cover-content {
    top: 267px;
    left: 95px;
    $cover-content: '../images/cover-content.png';
    width: image-width($cover-content);
    height: image-height($cover-content);
    // background-image: url($cover-content);
}

#cover-guide {
    top: 691px;
    left: 188px;
    $cover-guide: '../images/cover-guide.png';
    width: image-width($cover-guide);
    height: image-height($cover-guide);
    // background-image: url($cover-guide);
}

#cover-back {
    top: 113px;
    left: 0;
    $cover-back: '../images/cover-back.png';
    width: image-width($cover-back);
    height: image-height($cover-back);
    // background-image: url($cover-back);
}

#mt-container {
    bottom: 0;
    left: 0;
    width: 640px;
    height: 188px;
    // background: rgba(255, 255, 255, 0.4);
}

$moutain: '../images/moutain.png';
#moutains {
    top: 0;
    left: -(image-width($moutain));
    width: image-width($moutain)*2;
    height: image-height($moutain);
    // background: rgba(255, 0, 0, 0.3);
}

.moutain {
    top: 0;
    width: image-width($moutain);
    height: image-height($moutain);
    // background-image: url($moutain);
}

#moutain1 {
    left: 0;
}

#moutain2 {
    left: image-width($moutain);
}

$trees: '../images/trees.png';
#trees {
    top: 140px;
    left: -(image-width($trees))-3px;
    width: image-width($trees)*2;
    height: image-height($trees);
    // background: rgba(0, 255, 0, 0.3);
}

.tree {
    top: 0;
    width: image-width($trees);
    height: image-height($trees);
    // background-image: url($trees);
}

#tree1 {
    left: 0;
}

#tree2 {
    left: image-width($trees);
}

// hlg start=========================
#hlg-container {
    top: 0;
    left: -86px;
    $hlg: '../images/hlg-bg.png';
    width: image-width($hlg);
    height: image-height($hlg);
    // background-image: url($hlg);
}

#water1 {
    top: 318px;
    left: 203px;
    $water1: '../images/water1.png';
    width: image-width($water1);
    height: image-height($water1);
    // background-image: url($water1);
}

#water2 {
    top: 318px;
    left: 203px;
    $water2: '../images/water2.png';
    width: image-width($water2);
    height: image-height($water2);
    // background-image: url($water2);
}

#jump-people {
    top: 451px;
    left: 372px;
    $jump-people: '../images/jump-people.png';
    width: image-width($jump-people);
    height: image-height($jump-people);
    // background-image: url($jump-people);
}

#boat {
    top: 466px;
    left: 446px;
    $boat: '../images/boat.png';
    width: image-width($boat);
    height: image-height($boat);
    // background-image: url($boat);
}

#swing-people {
    top: 463px;
    left: 652px;
    $swing-people: '../images/swing-people.png';
    width: image-width($swing-people);
    height: image-height($swing-people);
    // background-image: url($swing-people);
}

#hlg-people {
    top: 432px;
    left: 317px;
    $hlg-people: '../images/hlg-people.png';
    width: image-width($hlg-people);
    height: image-height($hlg-people);
    // background-image: url($hlg-people);
}

#hlg-mt {
    top: 549px;
    left: 349px;
    $hlg-mt: '../images/hlg-mt.png';
    width: image-width($hlg-mt);
    height: image-height($hlg-mt);
    // background-image: url($hlg-mt);
}

#hlg-banner {
    top: 657px;
    left: 132px;
    $hlg-banner: '../images/hlg-banner.png';
    width: image-width($hlg-banner);
    height: image-height($hlg-banner);
    // background-image: url($hlg-banner);
}

// ticket container start=========
#ticket-container {
    bottom: 0;
    left: 0;
    $ticket-container: '../images/plug-bg.png';
    width: image-width($ticket-container);
    height: image-height($ticket-container);
    // background-image: url($ticket-container);
    overflow: hidden;
}

#plug-top {
    top: 0;
    left: 0;
    $plug-top: '../images/plug-top.png';
    width: image-width($plug-top);
    height: image-height($plug-top);
    // background-image: url($plug-top);
}

#ticket-plug {
    top: 93px;
    left: 236px;
    $ticket-plug: '../images/ticket-plug.png';
    width: image-width($ticket-plug);
    height: image-height($ticket-plug);
    // background-image: url($ticket-plug);
}

#tap-guide {
    top: 159px;
    left: 455px;
    $tap-guide: '../images/tap-guide.png';
    width: image-width($tap-guide);
    height: image-height($tap-guide);
    // background-image: url($tap-guide);
}

// ms start==============================
#ms-container {
    top: 98px;
    left: -85px;
    $ms-bg: '../images/ms-bg.png';
    width: image-width($ms-bg);
    height: image-height($ms-bg);
    // background-image: url($ms-bg);
}

#ms-building1 {
    top: -98px;
    left: 181px;
    $ms-building1: '../images/ms-building1.png';
    width: image-width($ms-building1);
    height: image-height($ms-building1);
    // background-image: url($ms-building1);
}

#ms-building2 {
    top: -98px;
    left: 480px;
    $ms-building2: '../images/ms-building2.png';
    width: image-width($ms-building2);
    height: image-height($ms-building2);
    // background-image: url($ms-building2);
}

#ms-building3 {
    top: -98px;
    left: 255px;
    $ms-building3: '../images/ms-building3.png';
    width: image-width($ms-building3);
    height: image-height($ms-building3);
    // background-image: url($ms-building3);
}

#ms-tree {
    top: 331px;
    left: 95px;
    $ms-tree: '../images/ms-tree.png';
    width: image-width($ms-tree);
    height: image-height($ms-tree);
    // background-image: url($ms-tree);
}

#ms-water {
    top: 453px;
    left: 102px;
    $ms-water: '../images/ms-water.png';
    width: image-width($ms-water);
    height: image-height($ms-water);
    // background-image: url($ms-water);
}

#ms-people1 {
    top: 392px;
    left: 152px;
    $ms-people1: '../images/ms-people1.png';
    width: image-width($ms-people1);
    height: image-height($ms-people1);
    // background-image: url($ms-people1);
}

#ms-people2 {
    top: 392px;
    left: 153px;
    $ms-people2: '../images/ms-people2.png';
    width: image-width($ms-people2);
    height: image-height($ms-people2);
    // background-image: url($ms-people2);
}

#ms-tag {
    top: 559px;
    left: 131px;
    $ms-tag: '../images/ms-tag.png';
    width: image-width($ms-tag);
    height: image-height($ms-tag);
    // background-image: url($ms-tag);
}

// wd start===================================
#wd-container {
    top: 92px;
    left: -75px;
    $wd-bg: '../images/wd-bg.png';
    width: image-width($wd-bg);
    height: image-height($wd-bg);
    background-image: url($wd-bg);
}

#wd-building1 {
    top: -92px;
    left: 294px;
    $wd-building1: '../images/wd-building1.png';
    width: image-width($wd-building1);
    height: image-height($wd-building1);
    background-image: url($wd-building1);
}

#wd-building2 {
    top: -92px;
    left: 413px;
    $wd-building2: '../images/wd-building2.png';
    width: image-width($wd-building2);
    height: image-height($wd-building2);
    background-image: url($wd-building2);
}

#wd-building3 {
    top: -92px;
    left: 109px;
    $wd-building3: '../images/wd-building3.png';
    width: image-width($wd-building3);
    height: image-height($wd-building3);
    background-image: url($wd-building3);
}

#wd-building4 {
    top: 345px;
    left: 272px;
    $wd-building4: '../images/wd-building4.png';
    width: image-width($wd-building4);
    height: image-height($wd-building4);
    background-image: url($wd-building4);
}

#wd-tree {
    top: 344px;
    left: 81px;
    $wd-tree: '../images/wd-tree.png';
    width: image-width($wd-tree);
    height: image-height($wd-tree);
    background-image: url($wd-tree);
}

#wd-beer {
    top: 346px;
    left: 117px;
    $wd-beer: '../images/wd-beer.png';
    width: image-width($wd-beer);
    height: image-height($wd-beer);
    background-image: url($wd-beer);
}

#wd-people1 {
    top: 421px;
    left: 150px;
    $wd-people1: '../images/wd-people1.png';
    width: image-width($wd-people1);
    height: image-height($wd-people1);
    background-image: url($wd-people1);
}

#wd-people2 {
    top: 436px;
    left: 150px;
    $wd-people2: '../images/wd-people2.png';
    width: image-width($wd-people2);
    height: image-height($wd-people2);
    background-image: url($wd-people2);
}

#wd-banner {
    top: 577px;
    left: 111px;
    $wd-banner: '../images/wd-banner.png';
    width: image-width($wd-banner);
    height: image-height($wd-banner);
    background-image: url($wd-banner);
}

#wd-airship {
    top: 108px;
    left: 793px;
    $wd-airship: '../images/wd-airship.png';
    width: image-width($wd-airship);
    height: image-height($wd-airship);
    background-image: url($wd-airship);
}

#cover, #hlg, #ms, #ticket-container, #clouds, #wd {
    display: none;
}

#music-control, #water2, #tap-guide, #ticket-plug, #ms-people1, #ms-people2, #wd-people2 {
    visibility: hidden;
}
